html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  overflow: auto;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  padding-top: 20px;
}

.navigation h1 {
  margin: 0;
}

#index a:hover {
  text-decoration: underline;
}

#main {
  position: relative;
  top: 90px;
  width: 100%;
  height: calc(100% - 90px);
  padding-bottom: 10vh;
}

h1,
.navigation-menu {
  font-size: 16pt;
  font-weight: 400;
}

.navigation-menu {
  cursor: pointer;
}

.project-title {
  font-size: 16pt;
  position: fixed;
  left: 0;
  text-align: center;
  width: 100%;
  margin-top: 40px;
}

.row {
  min-width: 100px;
  width: auto !important;
  width: 100px;
  margin-bottom: 40px;
}

.rowItem {
  margin-right: 15px;
}

.imagerow {
  overflow-x: scroll;
  width: auto;
  white-space: nowrap;
  padding-left: 5%;
  display: flex;
}

.imagerow img {
  height: 150px;
  display: inline-block;
}

.imagerow video {
  height: 150px;
  display: inline-block;
  pointer-events: none;
  width: 266px;
}

.image-text {
  display: none;
  background: #221f20;
  color: #fff;
  bottom: 20px;
  left: 20px;
  padding: 20px;
  z-index: 999;
  justify-content: center;
  align-items: center;
}

.imagerowlarge {
  position: fixed;
  top: 90px;
  z-index: 400;
  width: 100%;
  white-space: nowrap;
  overflow-y: hidden;
  margin-top: 20px;
}

.imagerowlarge img {
  width: 100vw;
  height: auto;
  vertical-align: top;
  display: inline-block;
  margin-right: 0;
}

.imagerowlarge .copyblock {
  height: 85.5vh;
  display: inline-block;
  font-size: 20pt;
  overflow-y: scroll;
  padding: 20px;
  width: 90vw;
}

.imagerowlarge video {
  height: auto;
  width: 45vh;
  display: inline-block;
  pointer-events: all;
}

.imagerowlarge .rowItem {
  margin-right: 40px;
}

.imagerowlarge .image-wrapper {
  position: relative;
}

.imagerowlarge .image-text {
  display: flex;
  position: absolute;
}

.videoblock {
  position: relative;
  height: 150px;
  margin-right: 15px;
  display: inline-block;
}

.rowcaption {
  position: absolute;
  margin-bottom: 25px;
  padding-left: 5%;
}

.copyblock {
  position: relative;
  width: 110px;
  height: 145px;
  overflow: hidden;
  white-space: initial;
  font-size: 6pt;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #ffffff;
}

.copyblock p {
  pointer-events: none;
  margin: 0;
}

#index {
  position: fixed;
  z-index: 200;
  width: 100%;
  height: calc(100% - 90px);
  top: 90px;
  text-align: center;
  font-size: 40pt;
  overflow-y: scroll;
  overflow-x: hidden;
  display: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.overlay {
  display: none;
  opacity: 0.9;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.navigation--opened {
  position: fixed;
  z-index: 999;
  font-size: 26px;
  width: 100%;
}

.navigation--opened ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
  margin-bottom: 6px;
}

@media screen and (min-width: 751px) {
  .navigation {
    align-items: center;
    padding-top: 0;
  }

  h1,
  .navigation-menu,
  .navigation--opened {
    font-size: 20pt;
  }

  .navigation--opened {
    font-size: 40pt;
    text-align: center;
  }

  .project-title {
    font-size: 20pt;
    font-weight: 400;
    margin-top: 0;
    width: auto;
    position: relative;
  }

  .imagerowlarge {
    overflow-x: scroll;
    margin-top: 0;
  }

  .imagerowlarge img {
    height: 90vh;
    width: auto;
  }

  .imagerowlarge .copyblock {
    width: calc(80vh * 0.7);
  }

  .imagerowlarge video {
    width: 100vh;
  }

  .imagerowlarge .rowItem {
    margin-right: 100px;
  }
}
